---
export const prerender = true;
import { Tags_DESCRIPTION, Tags_TITLE } from "@configs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getArticles } from "@models/Article";

const allArticles = await getArticles();

const tagCounts: { [key: string]: number } = {};
for (const article of allArticles) {
	for (const tag of article.tags || []) {
		if (tag.id in tagCounts) {
			tagCounts[tag.id] += 1;
		} else {
			tagCounts[tag.id] = 1;
		}
	}
}

const tags = Object.keys(tagCounts);
---

<BaseLayout title={Tags_TITLE} description={Tags_DESCRIPTION}>
  <div class="prose prose-lg mx-auto p-6">
    <div class="grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-4">
      {
        tags.map((tag) => (
          <a
            href={`/tags/${tag}/1/`}
            class="rounded-full bg-neutral-200 px-3 py-2 text-center text-sm font-semibold no-underline hover:bg-neutral-300"
          >
            {tag} <span>({tagCounts[tag]})</span>
          </a>
        ))
      }
    </div>
  </div>
</BaseLayout>
