---
export const prerender = true;
import Card from "@components/CommonCard.astro";
import HeroCard from "@components/HeroCard.astro";
import Pagination from "@components/Pagination.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@configs";
import BaseLayout from "@layouts/BaseLayout.astro";
import { getArticles } from "@models/Article";

const allArticles = await getArticles();
const sortedArticles = allArticles.sort(
	(a, b) => new Date(b.pubDate).valueOf() - new Date(a.pubDate).valueOf(),
);

const heroArticle = sortedArticles[0];
const featuredArticles = sortedArticles.slice(1, 3);
const regularArticles = sortedArticles.slice(3);

const postsPerPage = 15;
const totalPages = Math.ceil(sortedArticles.length / postsPerPage);
const basePath = "/page/";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="grid grid-cols-1 max-w-7xl mx-auto">
    <div class="col-span-1 mb-4">
      {heroArticle && <HeroCard article={heroArticle} />}
    </div>

    <div class="mb-4 grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-2">
      {featuredArticles.map((post) => <Card article={post} />)}
    </div>

    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      {regularArticles.map((post) => <Card article={post} />)}
    </div>
  </div>

  <Pagination
    currentPage={1}
    lastPage={totalPages}
    urlPrev={null}
    urlNext={totalPages > 1 ? `/page/2` : null}
    basePath={basePath}
    maxDisplayedPages={5}
  />
</BaseLayout>
