---
import { formatDate } from "@utils/dates";
import type Article from "../models/Article";

type Props = Article;

const { id, title, excerpt, category, pubDate: date, image } = Astro.props;
---

<article class="bg-white rounded-lg shadow-md overflow-hidden">
  <img
    src={image}
    alt={title}
    class="w-full h-48 object-cover"
    loading="lazy"
  />
  <div class="p-6">
    <div class="flex items-center space-x-2 mb-2">
      <span class="text-sm text-primary font-medium">{category.title}</span>
      <span class="text-gray-400">•</span>
      <time class="text-sm text-gray-500">{formatDate(date)}</time>
    </div>
    <h3 class="text-xl font-bold mb-2">
      <a href={`/${id}`} class="hover:text-primary transition-colors">
        {title}
      </a>
    </h3>
    <p class="text-gray-600 mb-4">{excerpt}</p>
    <a
    href={`/${id}`}
      class="inline-flex items-center text-primary font-medium hover:underline"
    >
      Leer más
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-4 w-4 ml-1"
        viewBox="0 0 20 20"
        fill="currentColor"
      >
        <path
          fill-rule="evenodd"
          d="M12.293 5.293a1 1 0 011.414 0l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-2.293-2.293a1 1 0 010-1.414z"
          clip-rule="evenodd"
        />
      </svg>
    </a>
  </div>
</article>
