---
// Basic Layout for All Pages

import Analytics from "@/components/Analytics.astro";
import Header from "@/components/Header.astro";
import LocaleHtmlHead from "@/components/i18n/LocaleHtmlHead.astro";
import LocaleSuggest from "@/components/i18n/LocaleSuggest.astro";

import { SITE_DESCRIPTION, SITE_TITLE, X_ACCOUNT } from "@/consts";
import { LOCALES, type Lang, getLocalePaths, useTranslations } from "@/i18n";
const t = useTranslations(Astro.currentLocale as Lang);
// Supports weights 100-900
import "@fontsource-variable/inter";
import "@/styles/global.css";
import "@/styles/scroll-behavior.css";

interface Props {
	title?: string;
	description?: string;
	frontmatter?: undefined;
}

const { title, description } = Astro.props.frontmatter || Astro.props;

const locale = Astro.currentLocale as Lang;
const localeTitle = title ? `${title} - ${t(SITE_TITLE)}` : t(SITE_TITLE);
const localeDescription = description || t(SITE_DESCRIPTION);
---
<!doctype html>
<html lang={LOCALES[locale].lang || locale} dir={LOCALES[locale].dir || null} class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <title>{localeTitle}</title>
    <meta name="description" content={localeDescription} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta name="generator" content={Astro.generator} />
    {
      getLocalePaths(Astro.url).map((props) => (
        <link
          rel="alternate"
          hreflang={LOCALES[props.lang].lang || props.lang}
          href={Astro.site?.origin + props.path}
        />
      ))
    }

    <!-- icon -->
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="manifest" href="/site.webmanifest">
    <meta name="color-scheme" content="light dark" />

    <!-- OGP -->
    <meta property="og:type" content="website" />
    <meta property="og:title" content={localeTitle} />
    <meta property="og:site_name" content={localeTitle} />
    <meta property="og:description" content={localeDescription} />
    <meta property="og:image" content={Astro.site + "ogp.png"} />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:locale" content={LOCALES[locale].lang || locale} />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content={t(X_ACCOUNT)} />

		<Analytics />
    <LocaleHtmlHead />
  </head>

  <body class="bg-bg-light dark:bg-bg-dark scroll-smooth transition-colors duration-300 ease-in-out">
    <slot name="header">
			<LocaleSuggest />
    	<Header />
		</slot>
		<slot name="subheader" />

    <main>
      <slot />
    </main>

    { import.meta.env.DEV && <style>:root { scroll-behavior: auto }</style> }
  </body>
</html>
